h1 {
  margin: auto;
    text-align: center;
    font-size: 70px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    transition: all ease 0.3s;


}

* {
  box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 178) ;
    margin: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: brown;
  
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(205, 205, 167);
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
  
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

main {
    border: solid brown;
    padding: 100px;
    width: 1600px;
    height: 1000px;
    max-width: 100%;
    background-color: rgb(238, 238, 178) ;
    margin: auto;
    transition: all ease 0.3s;
    position:relative;
    top: 200px;

    

}

.ulsa {
    border: solid brown;
    padding: 30px;
    width: 100%;
    max-width: 100px;
    background-color: rgb(238, 238, 178) ;
    margin:90px;
    min-width: 20px;
    position: absolute;
    top: 400px;
    transition: all ease 0.3s;

    
}

nav a:hover {
    background-color: rgb(243, 243, 121);
  }
  
  nav a{
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 2px 15px;
    transition: all ease 0.3s;
    display: block;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
  }
  
  nav li {
    display: inline;
  }

  nav {
    background-color: rgb(238, 238, 178);
    text-align: center;
  border: solid brown;
  margin: auto;
  max-width: 100%;
  display: block;
  width: 250px;
  position: relative;
  top: -1200px;
  
  }

h2 {
    margin: auto;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    transition: all ease 0.3s;
}




p {
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h2{
  margin: auto;
  text-align: center;
  
}
main p{
  margin: auto;
  text-align: center;
}

.column.middle p {
  text-align: center;
}
.column.middle h2 {
  text-align: center;
  font-size: xx-large;
}
.column.side h2 {
  text-align: center;
}
.column.side p {
  text-align: center;
  border: solid brown;
  background-color: #f0ed9d;
}

.column.side img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
hr {
  color: brown;
}


.border.join {
  border: solid brown;
  background-color: #f0ed9d;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.column.column.middle img {
  max-width: 100%;
  height: auto;
  margin: auto;
}