h1 {
  margin: auto;
    text-align: center;
    font-size: 70px;
    color: rgb(97, 189, 242);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 50;
    width: 100%;
    transition: all ease 0.3s;


}

* {
  box-sizing: border-box;
}

body {
    background-color: #e4f2f4 ;
    margin: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: rgb(97, 189, 242);
  
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #e4f2f4;
  color: black;
  transition: all ease 0.3s;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
  
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

main {
    border: solid rgb(97, 189, 242);
    padding: 100px;
    width: 1600px;
    height: 1000px;
    max-width: 100%;
    background-color: #e4f2f4 ;
    margin: auto;
    transition: all ease 0.3s;
    position:relative;
    top: 200px;

    

}

.ulsa {
    border: solid rgb(97, 189, 242);
    padding: 30px;
    width: 100%;
    max-width: 100px;
    background-color: #e4f2f4 ;
    margin:90px;
    min-width: 20px;
    position: absolute;
    top: 400px;
    transition: all ease 0.3s;

    
}

nav a:hover {
    background-color: #e4f2f4;
  }
  
  nav a{
    color: rgb(97, 189, 242);
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 2px 15px;
    transition: all ease 0.3s;
    display: block;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
  }
  
  nav li {
    display: inline;
  }

  nav {
    background-color: #e4f2f4;
    text-align: center;
  border: solid rgb(97, 189, 242);
  margin: auto;
  max-width: 100%;
  display: block;
  width: 250px;
  position: relative;
  top: -1200px;
  
  }

h2 {
    margin: auto;
    color: rgb(97, 189, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    transition: all ease 0.3s;
}




p {
  color: rgb(97, 189, 242);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h2{
  margin: auto;
  text-align: center;
  
}
main p{
  margin: auto;
  text-align: center;
}

.column.middle p {
  text-align: center;
}
.column.middle h2 {
  text-align: center;
  font-size: xx-large;
}
.column.side h2 {
  text-align: center;
}
.column.side p {
  text-align: center;
  border: solid rgb(97, 189, 242);
  background-color: #f4f7f7;
  border-radius: 15px;
}

.column.side img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border: solid rgb(97, 189, 242);
  background-color: white;
  border-radius: 15px;
}
hr {
  color: rgb(97, 189, 242);
}


.border.join {
  border: solid rgb(97, 189, 242);
  background-color: #e4f2f4;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.column.middle img {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.pbox {
  border: rgb(97, 189, 242) solid;
  background-color: #f4f7f7;
  margin: auto;
  border-radius: 15px;
  font-size: xx-large;

}

.card {
  width: 100%;
  max-width: 400px;
  border: 2px solid rgb(97, 189, 242);
  height: 400px;
  margin: auto;
  background-color: #e4f2f4;
  border-radius:25px;

}
.card img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 25px; 
}
.cards{
  /*parent-element for each .card*/
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap:48px;
}

/* use a media query write desktop layout styles*/
@media(min-width: 600px) {
  .cards {
    flex-direction:row;
  }
}
.card p {
  text-align: center;
}


